$red:#ff0000;
$white:#ffff;
$black:#0000;
.contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.textoContacto{
    flex-shrink: 1;
    padding-right: 2rem;
}
label{
    color: $white;
}
input, textarea{
    border: 2px solid $black;
    border-radius: 4px;
}
::placeholder{
    font-size: .88rem;
    color: black;
}