$red:#ff0000;
$white:#ffff;
$black:#0000;
.contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.textoContacto{
    flex-shrink: 1;
    padding-right: 2rem;
}

.nombre, .email, textarea{
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    margin-bottom: 40px;
}
::placeholder{
    font-size: .86rem;
    color: #888;
}
.nombre{
    float: left;
    width: 265px;
}
.email{
    float: right;
    width: 265px;
}
textarea{
    min-width: 100%;
    max-width: 100%;
}
.boton{
    float: right;
    background: none;
    color: #888 ;
    border: 1px solid  #888;
    padding: 12px 40px;
    border-radius: 8px;
    transition: 0,4s linear;
    cursor: pointer;
}
.boton:hover{
    background: rgb(48, 48, 48) ;
    color: #fff;
}
@media only screen and (max-width:1200px){
    .nombre, .email{
    width: 100%;
    }
}
