$red:#ff0000;
$white:#ffff;
$black:#0000;
$soundcloud: #FF7545;
@font-face {
    font-family: 'flexslider-icon';
    src: url('../fonts/flexslider-icon.eot');
    src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff')
    format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
#titulo{
    margin-left: 0.61rem;
    font-size: 1.65rem;
    text-decoration: none;
    color: $white;
    font-family: 'Libre Franklin', sans-serif;
}
h2{
    color:$white;
}
p{
    color: $soundcloud;
    font-size: .8rem;
}
h3{
    color: $white;
    font-size: 1.1rem;
    a{
    color: $soundcloud;
    text-decoration: none;
    }
}
.copyright{
    font-size: .5rem;
    color: white;
    text-align: center;
    margin-top: .3rem;
}
h4{
    color:  $white;
    font-size: .9rem;
    text-align: right;
}