$red:#ff0000;
$white:#ffff;
$black:#0000;
footer{
    background-color: rgb(29, 29, 29);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: .3rem ;
}
.transc{
    width: 200px;
    transition: all 2s;
}
.transc:hover{
    width: 300px;
    font-size: 24px;
}
.icono-uno{
    transition: all 1s;
}
.icono-dos{
    transition: all 1s;
}
.icono-uno:hover{
    transform: translateY(-12px);
}
.icono-dos:hover{
    transform: translateY(-12px);
}