.soundcloud{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.widgetsSoundcloud{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.spotifyLanzamientos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}