$red:#ff0000;
$white:#ffff;
$black:#0000;
$veintepx: 20px;
#plataformas{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
}
table{
    padding: 0px 3rem;
    tr{
        td{
            border: 1px solid;
            padding: $veintepx/4;
            margin: $veintepx;
            color: $white;
            text-align: center;
        }
        th{    
            border: 1px solid $white;
            background-color: $red;
            padding: $veintepx/4;
            text-align: center;
        }
    }
}
#tabla{
    border-collapse: separate;
}
.center__musica{
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3{
        text-align: center;
    }
}
li{
    list-style-type:none
}