$red:#ff0000;
$white:#ffff;
$black:#0000;
$veintepx: 20px;
#musica-main{
    justify-content: space-between;
    flex-wrap: wrap;
    .musica-main__texto{
    display:flex;
    flex-direction: column;
    }
    .musica-main__plataformas{
    padding: 1rem 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
        .musica-main__plataformas--soundcloud{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;
        }
        .musica-main__plataformas--beatport{
            width: 230px;
            height: 60px;
        }
    }
}
.track{
    margin: 10px;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    .track__img{
        height: auto;
        -webkit-transition: all .4s;
        transition: all .4s;
        max-width: 100%;
        min-height: 281px;
        display: block;
        width: 15rem;
        height: 15rem;
    }
    .track__texto{
        position: absolute;
        background-color: #393939;
        display: block;
        padding: 40px;
        box-sizing: border-box;
        top: auto;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity .1s .3s,-webkit-transform .4s;
        transition: opacity .1s .3s,-webkit-transform .4s;
        transition: transform .4s,opacity .1s .3s;
        transition: transform .4s,opacity .1s .3s,-webkit-transform .4s;
        text-align: center;
        p{
            color: $white;
            text-align: center;
            text-transform: uppercase;
        }
        span{
            color: #95d703;
        }
        .link__icon{
            pointer-events: all;
                color: #00A3D9;
                text-align: center;
                white-space: nowrap;
                cursor: pointer;
                user-select: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0;
                padding: 0;
                border: 0;
                vertical-align: baseline;
                display: inline-block;
                font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-size: 26px;
                transform: translate3d(0,4px,0);
                transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
        }
        }
}
.track:hover .track__img {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.track:hover .track__texto{
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.link .link__icon:hover{
    -webkit-transform: translate3d(6px,4px,0);
    transform: translate3d(6px,4px,0);
}
.link__icon::before{
    content: '\f301';
    color: #95d703;
}